apiVersion: 1

datasources:
  - name: Prometheus
    uid: prometheus
    type: prometheus
    access: proxy
    orgId: 1
    url: http://prometheus:9090
    isDefault: true
    version: 1
    editable: false

  - name: Loki
    uid: loki
    type: loki
    access: proxy
    orgId: 1
    url: http://loki:3100
    version: 1
    editable: false

  - name: Tempo
    uid: tempo
    type: tempo
    access: proxy
    orgId: 1
    url: http://tempo:3200
    basicAuth: false
    isDefault: false
    version: 1
    editable: false
    jsonData:
      tracesToLogs:
        datasourceUid: Loki
        mappedTags:
          - key: service.name
            value: service
        mapTagNamesEnabled: true
      tracesToMetrics:
        datasourceUid: Prometheus
        queries:
          - name: request_rate
            query: sum(rate(http_request_total[$__interval]))
      serviceMap:
        datasourceUid: Tempo
      search:
        hide: false
      nodeGraph:
        enabled: true
